<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace=a>

	<resultMap type="CertListDO" id="certNoMapper">
		<result property="id" column="id" jdbcType="VARCHAR" />
		<result property="certNo" column="cert_no" jdbcType="VARCHAR" />
		<result property="updateTime" column="update_time" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getAll" resultMap="certNoMapper">
 		select * from cert_no
 	</select>
</mapper>